---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Personal Website";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img
      src="https://media.giphy.com/media/3o7TKz9bX9v9KzCnXq/giphy.gif"
      alt="Vanessa Aristizabal"
    />
  </div>
  <h1>Vanessa Aristizabal</h1>
  <span class="badge">Web Developer</span>
  <h2>About</h2>

  <p>
    I am a curious programmer, passionate about tech, love the Web, and
    contribute to the community.
  </p>
  <h2>Skills</h2>
  <div class="skills center">
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="HTML"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="CSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="TypeScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="React"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Angular"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="NodeJS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
    />
  </div>
  <h2>Interests</h2>
  <p>
    I am interested in web development, design, illustration, and animation. I
    love to learn new things, read books, and watch movies. Also, I am Harry
    potter fan and I love to travel.
  </p>
</Layout>
