---
import Layout from "../layouts/Layout.astro";
import CardList from "../components/CardList";

const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
  <h2 class="py-4">Blog</h2>
  <div role="list" class="link-card-grid">
    <CardList client:visible />
  </div>
</Layout>
