---
import Layout from "../layouts/Layout.astro";
import CardList from "../components/CardList";

const pageTitle = "Posts";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img
      width="300"
      height="259"
      alt="Posts"
      src="
https://media.giphy.com/media/3o7TKz9bX9v9KzCnXq/giphy.gif"
    />
  </div>
  <h2>Blog</h2>
  <div role="list" class="link-card-grid">
    <CardList client:visible />
  </div>
</Layout>
