---
import Header from "../components/Header";
import Footer from "../components/Footer";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html transition:animate="none" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="/vanessamarely-page/styles/global.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main class="mx-auto max-w-4xl px-4 md:px-0 container">
      <slot />
      <Footer />
    </main>
    <script>
      function colorMode() {
        if (
          localStorage.theme === "light" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: light)").matches)
        ) {
          document.documentElement.classList.add("light");
        } else {
          document.documentElement.classList.remove("light");
        }
      }

      colorMode();
      document.addEventListener("astro:after-swap", colorMode);
    </script>
  </body>
</html>
